body{
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  background:#fff;
}

#content{
  background:#fff;
  margin-top:1rem;
  margin-bottom:1rem;
}
.container{
  /*border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  */
}
.navbar-brand{
  font-size: 1rem;
 }

.nav-item{
  border-left: 1px solid #FFF;
}


.nav-link{
 /*color:#000*/
 text-align: center;
 font-weight: bold;
}

.nav-link:hover{
 color:#000;
 background:#FFF
}

.navbar-brand{
  margin-right:0px;
}


.articulo .jumbotron {
  background: red;
}
.jumbotron {
  margin: 0;
  padding: 2rem 0rem;
}

.jumbotron .container{
  border-left: 0px solid #FFF;
  border-right: 0px solid #FFF;
}

hr{
  border-color: #FFF;
}
section#pruebas{
  /*background: #C9D3DB;*/
  /*background: rgba(233,236,239,0.5);*/
}

.nivel-1 .titulo{
  /*text-transform: uppercase;*/
}
.nivel-2 .titulo{
  text-transform: none;
}
.nivel-3 .titulo{
  text-transform: none;
}

.elemento{
  /*background: rgba(0.78,0.82,0.85,0.1); */ 
  /*background: rgba(133,136,139,0.1);  */
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000;
  /*border-bottom-width: 1px;*/
  /*border-bottom-style: solid;*/
  /*border-bottom-color: #000;
  /*border-color: #FFF;*/
}
.elemento{
  /*border-top-width: 1px;*/
  /*border-top-style: solid;*/
  /*border-top-color: #000;*/
  margin-bottom: 10px
}
.articulo{
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000;
}
.articulo{
  margin-bottom: 10px
}


.h1, h1{
	font-size: 4rem;
	padding: 3rem 0;
}
.h2, h2{

	font-size: 3rem;
	padding: 2rem 0;
	/*padding: 1rem 0 1rem;*/
	padding: 3rem 0;
}
.h3, h3{

	font-size: 2rem;
	/*padding: 2rem 0;*/
}

.elemento.nivel-1{
  margin-top: 6rem !important;
 }
.elemento.nivel-2{
  margin-top: 2rem !important;
 }
.elemento.nivel-3{
  margin-top: 1rem !important;
 }
.navbar.navbar-expand-md.py-3{

	padding-top:5rem !important;
	padding-bottom:5rem !important;
}

footer .navbar-nav li:first-child{
  border-left: 0px solid #FFF;
}
footer{
  border-top: 1px solid #FFF;
}
	

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px ) {
	.display-3{
		font-size: 3rem;
	}
	.h2,h2{
		font-size: 2rem;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { }
@media (max-width: @screen-xs-max) {  }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {  }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {  }
@media (min-width: @screen-lg-min) {  }



