
<article class="articulo nivel-{{nivel}} my-3 px-3 pt-3 {{ articulo['clase'] }} "
  {% if articulo['titulo']  %}
    id="articulo-{{ articulo['titulo'] | slug }}"
  {% endif %}
> 


<div class="row">

{% if nivel is odd %}
  <div class="encabezado col-md-12">
  <header> 
    {% if articulo['url']  %}
    <a href="{{ articulo['url'] }}" class="link">
       {% if articulo['titulo']  %}
       <h{{nivel}} class="titulo">
           {{ articulo['titulo'] }}
         </h{{nivel}}>
       {% endif %}
    </a>
    {% endif %}

  </header> 
  </div>
  <div class="texto col-md-6">
  
  {% if articulo['subtitulo']  %}
    <p class="lead mt-3 font-weight-bold" >{{ articulo[ 'subtitulo' ] }}</p>
  {% endif %}
  
  {% if articulo[ 'texto' ]  %}
      {{ articulo[ 'texto' ] | md | safe  }}
  {% endif %}
  </div>
  
    {% if articulo['imagenes']  %}
  <div class="imagenes col-md-6">
     {% for imagen in articulo['imagenes'] %}
       {% include 'imagen.html' %}
     {% endfor %}
  </div>
    {% endif %}
{% endif %}

{% if nivel is even %}

  <div class="encabezado col-md-12">

  <header> 
    {% if articulo['titulo']  %}
    <h{{nivel}} class="titulo">
        {{ articulo['titulo'] }}
      </h{{nivel}}>
    {% endif %}
  </header> 
  </div>

 {% if articulo['imagenes']  %}
  <div class="imagenes col-md-6">
     {% for imagen in articulo['imagenes'] %}
       {% include 'imagen.html' %}
     {% endfor %}
  </div>
 {% endif %}
  
  <div class="texto col-md-6">

  
  {% if articulo['subtitulo']  %}
    <p class="lead mt-3 font-weight-bold" >{{ articulo[ 'subtitulo' ] }}</p>
  {% endif %}
  
  {% if articulo[ 'texto' ]  %}
      {{ articulo[ 'texto' ] | md | safe  }}
  {% endif %}
</div>

{% endif %}

{% if articulo['separador']  %}
  {% set nivel = nivel + 1 %}
  <div class="separador col-md-12" >
    <h{{nivel}} class="titulo py-2">
      {{ articulo[ 'separador' ] }}
    </h{{nivel}}>
  </div>
{% endif %}

{% if articulo[ 'articulos' ]  %}
  {% set nivel = nivel + 1 %}
  <div class="articulos col-md-12">
    {% for articulo in articulo[ 'articulos' ]%}
      {% include 'articulo.html' %}
    {% endfor %}
  </div>
{% endif %}

</div>

</article>
