
<article class="articulo nivel-{{nivel}} my-3 px-3 pt-3 {{ articulo['clase'] }} "
  {% if articulo['titulo']  %}
    id="articulo-{{ articulo['titulo'] | slug }}"
  {% endif %}
> 


<div class="row">

  <div class="encabezado col-md-12">
  <header> 
    {% if articulo['url']  %}
    <a href="{{ articulo['url'] }}" class="link">
       {% if articulo['titulo']  %}
       <h{{nivel}} class="titulo">
           {{ articulo['titulo'] }}
         </h{{nivel}}>
       {% endif %}
    </a>
    {% endif %}

  </header> 
  </div>
  <div class="texto col-md-6">
  
  {% if articulo['subtitulo']  %}
    <p class="lead mt-3 font-weight-bold" >{{ articulo[ 'subtitulo' ] }}</p>
  {% endif %}
  
  </div>
  
</div>

</article>
