<body>
  <div id="content" class="container">
    {% set elementos = contenido[ 'elementos'] %}
    {% include 'header.html' %}
    {% include 'main.html' %}
    {% set footer = contenido[ 'footer'] %}
    {% include 'footer.html' %}
  </div>
  <script 
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
  </script>
  <script src="https://player.vimeo.com/api/player.js"></script>
</body>
