
<div class="elemento nivel-{{nivel}} my-3 px-3 pt-3 {{ elemento['clase'] }} "
  {% if elemento['titulo']  %}
    id="elemento-{{ elemento['titulo'] | slug }}"
  {% endif %}
> 


<div class="row">


{% if nivel is odd %}
  <div class="encabezado col-md-12">
  <header> 
    {% if elemento['titulo']  %}
    <h{{nivel}} class="titulo">
        {{ elemento['titulo'] }}
      </h{{nivel}}>
    {% endif %}
  </header> 
  </div>
  <div class="texto col-md-6">
  
  {% if elemento['subtitulo']  %}
    <p class="lead mt-3 font-weight-bold" >{{ elemento[ 'subtitulo' ] }}</p>
  {% endif %}
  
  {% if elemento[ 'texto' ]  %}
      {{ elemento[ 'texto' ] | md | safe  }}
  {% endif %}
  </div>
  
    <div class="col-md-6" >
    {% if elemento['iframes']  %}
    <div class="iframes" >
        {% for iframe in elemento['iframes'] %}
          {% include 'iframe.html' %}
        {% endfor %}
    </div>
    {% endif %}
 {% if elemento['imagenes']  %}
  <div class="imagenes">
     {% for imagen in elemento['imagenes'] %}
       {% include 'imagen.html' %}
     {% endfor %}
  </div>
 {% endif %}
  </div>
{% endif %}

{% if nivel is even %}
  <div class="encabezado col-md-12">
  <header> 
    {% if elemento['titulo']  %}
    <h{{nivel}} class="titulo">
        {{ elemento['titulo'] }}
      </h{{nivel}}>
    {% endif %}
  </header> 
  </div>

    <div class="col-md-6" >
    {% if elemento['iframes']  %}
    <div class="iframes" >
        {% for iframe in elemento['iframes'] %}
          {% include 'iframe.html' %}
        {% endfor %}
    </div>
    {% endif %}
 {% if elemento['imagenes']  %}
  <div class="imagenes">
     {% for imagen in elemento['imagenes'] %}
       {% include 'imagen.html' %}
     {% endfor %}
  </div>
 {% endif %}
  </div>
  
  <div class="texto col-md-6">

  
  {% if elemento['subtitulo']  %}
    <p class="lead mt-3 font-weight-bold" >{{ elemento[ 'subtitulo' ] }}</p>
  {% endif %}
  
  {% if elemento[ 'texto' ]  %}
      {{ elemento[ 'texto' ] | md | safe  }}
  {% endif %}
</div>

{% endif %}

{% if elemento['separador']  %}
  {% set nivel = nivel + 1 %}
  <div class="separador col-md-12" >
    <h{{nivel}} class="titulo py-2">
      {{ elemento[ 'separador' ] }}
    </h{{nivel}}>
  </div>
{% endif %}

{% if elemento[ 'elementos' ]  %}
  {% set nivel = nivel + 1 %}
  <div class="elementos col-md-12">
    {% for elemento in elemento[ 'elementos' ]%}
      {% include 'elemento.html' %}
    {% endfor %}
  </div>
{% endif %}

</div>

</div>
