<header> 


<nav class="navbar navbar-expand-lg">

  <a
   class="navbar-brand px-3"
   href="index{{ contenido['idioma'] }}.html">
   {{ contenido['site']  | upper }}
  </a>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    TRABAJOS
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for articulo in contenido['articulos_drop'] %}
        <a class="dropdown-item" href="{{ articulo['url'] }}">{{ articulo['titulo'] }}</a>
      {% endfor %}
    </div>
  </div>
  <button
   class="navbar-toggler"
   type="button"
   data-toggle="collapse"
   data-target="#navbarText"
   aria-controls="navbarText"
   aria-expanded="false"
   aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>

  <a
   class="navbar-brand px-3"
   href="{{ contenido['url'] }}">
   {{ contenido['titulo'] }}
  </a>


  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      {% for elemento in elementos %}
      <li class="nav-item" >
        <a class="nav-link px-3" href="#{{ elemento['titulo'] | slug }}">
          {{ elemento['titulo']  }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
</header>



