<main id="principal" class="{% for clase in contenido['clases'] %}{{ clase }}{% endfor %} ">

  <header class="jumbotron jumbotron-fluid mb-3"> 
    <div class="container" >
      <h1 class="display-3">{{ contenido['titulo'] }}</h1>
      <h2 >{{ contenido['subtitulo'] }}</h2>
      <hr class="my-4">
      <p class="lead" >{{ contenido['abstract'] | md | safe }}</p>
    </div>
  </header> 

  <div class="row">

    <div class="lead texto col-md-6" >
      {{ contenido['texto'] | md | safe }}
    </div>

    {% if contenido['iframes']  %}
    <div class="iframes col-md-6" >
        {% for iframe in contenido['iframes'] %}
          {% include 'iframe.html' %}
        {% endfor %}
    </div>
    {% endif %}

    <div class="imagenes col-md-6" >
    {% if contenido['imagenes']  %}
        {% for imagen in contenido['imagenes'] %}
          {% include 'imagen.html' %}
        {% endfor %}
    {% endif %}
    </div>

  </div>

  {% for elemento in elementos %}
    {% set nivel = 1 %}
    <section id="{{ elemento['titulo'] | slug }}" >
      {% include 'elemento.html' %}
   </section>
  {% endfor %}

  {% for articulo in contenido['articulos'] %}
    {% set nivel = 1 %}
    <section id="{{ articulo['titulo'] | slug }}" >
      {% include 'articulo.html' %}
   </section>
  {% endfor %}

</main>

